body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.title {
	text-align: center;
}

.clickable {
	cursor: pointer;
}

caption:hover {
	color: #DD4B39;
	font-weight: bold;
}

.tag-del-container {
	text-align: right;
}

.tag-del:hover {
	color: #DD4B39;
}